<div id="body">
    <a href="/logout">logout</a>
    <div class="hello-headers">
        <h1>these are all the signers in {{user_city}} so far:</h1>
        {{#rows}}
            <div class="signer">
                <h3>
                    <a href="{{user_homepage}}">{{first_name}} {{last_name}}</a>
                    {{user_age}}
                </h3>
            </div>
        {{/rows}}
    </div>
    <div class="form-div">

    </div>
</div>