<div id="body">
    <div class="hello-headers">
        <h1>these are all the signers so far:</h1>
        {{#rows}}
            <div class="signer">
                <h3>
                    <a href="{{user_homepage}}">{{first_name}} {{last_name}}</a>
                    {{user_age}}
                    <a href="/signatures/{{user_city}}">{{user_city}}</a>
                </h3>
            </div>
        {{/rows}}
    </div>
    <div class="form-div">

    </div>
</div>