<div id="body">
    <a href="/logout">logout</a>
    <div class="hello-headers">
        <h1>these are all the signers so far:</h1>
        {{#rows}}
            <div class="signer">
                <h3>
                    {{#if user_homepage}}
                        <a href="{{user_homepage}}">{{first_name}}
                            {{last_name}}</a>
                    {{else}}
                        {{first_name}}
                        {{last_name}}
                    {{/if}}
                    {{user_age}}
                    {{#if user_city}}
                        <a href="/signatures/{{user_city}}">{{user_city}}</a>
                    {{/if}}
                </h3>
            </div>
        {{/rows}}
        <a href="/thank-you">back to profile</a>
    </div>
</div>