<div class="content-div">
    <a href="/logout">logout</a>
    <div class="hello-headers">
        <img
            class="cover"
            src="/public/F3E3EA864B4B80AE95FB53408BC30D1F.jpeg"
            alt=""
        />
        <h3>thank you for your signature!</h3>
    </div>
    <div class="form-div">
        <img class="signature" src="{{user_signature}}" alt="signature image" />
        <a href="{{signatures_page}}"> see all {{number_of_signers}} signers</a>

        <a href="{{edit_profile}}">
            <button>
                Edit Profile
            </button>
        </a>
        <a href="{{edit_signature}}">
            <button>
                Change Signature
            </button>
        </a>
    </div>
</div>